* {
    padding: 0%;
    margin: 0%;
}

body {
    display: flex;
    justify-content: center; /* All content will be align at center */
    align-items: center;
    min-height: 100rex;
    background-color: rgb(221, 221, 119);
    border-spacing: 2px 2px 2px 3px;
}

.container {
    background-color: rgb(250, 247, 251);
    border-radius: 15px;
    padding: 3rex 3rex 4rex 3rex;
    justify-content: center;
    min-height: 45vh;
    width: 40vh;
}

form {
    margin: 2rem 0 1rem 0;
}

form select,button{
    border: 2px solid rgb(179, 180, 143);
    border: none;
    outline: none;
    /* padding-left: 0.5rem; */
    border-radius: 0.75rem;
    font-size: 4vb;
    width: 100%;
}

form input{
    padding: 0.50rem;
    border: 1px solid rgb(179, 180, 143);
    /* border: none;
    outline: none; */
    /* padding-left: 0.5rem; */
    border-radius: 0.75rem;
    font-size: 3vb;
    height: 4vh;
    width: 100%;
}

.amount {
    margin-right: 0.6rem;
}

.amount p{
    margin-left: 0.4rem;
}

.dropdown {
    display: flex;/*Bhegu kari dey*/
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    /* border: none; */
}

.dropdown i{
    font-size: 1.5rem;
    margin-top: 1rem;
    /* border: none; */
}

.select-container img {
    max-width: 2rem;
}

#con {
    cursor: pointer;
}

.select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border-radius: 0.5rem;
    border: 1px solid lightgray;
}

.select-container select {
    font-size: 1rem;
    width: auto;
}

.msg {
    margin: 2rem 0 2rem 0;
}

form button {
    height: 3rem;
    background-color: rgb(62, 177, 87);
    color: aliceblue;
    font-size: 1.4rem; 
    /* font-family: italic; */
    cursor: pointer;
    border-radius: 11px;
    padding-left: 1px;
    /* text-spacing-trim: 12rem; */
    margin: 2px 0 0 2px;
}