* {
    margin: 0%;
    padding: 0%;
}

body,html {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    min-height: 100px;
    justify-content: space-between;
    width: 40vh;
    background-color: antiquewhite;
    flex-direction: column;
    padding: 3rem 3rem 3rem 3rem;
    border-radius: 2rem;
}

h2 {
    color: blue;
    margin-bottom: 2rem;
    font-size: 2rem;
    margin-top: 0;
}

.drp-container select,button,input {
    /* flex-direction: column; */
    width: 100%;
    border: none solid greenyellow;
}

.drp-only {
    display: flex;
    justify-content: space-between;
    padding-top: 1.2rem;
}

button {
    margin-top: 2rem;
    border-radius: 5.9px;
    border: none;
    background-color: rgb(209, 152, 224);
    color: black;
    font-size: 1.6rem;
    padding: 1rem;
    font-weight: bold;
    cursor:grab;
    /* border: none; */
}

.dropdown select {
    border-radius: 5px;
    width: 70px;
    font-size: 1rem;;
    justify-content: space-between;
}

i {
    display: flex;
    align-items: center;
    justify-items: center;
    margin-top: 2.8rem;
    margin-right: 2.5rem;
    margin: 2.8rem 2.5rem 0 4.2rem;
    font-size: 1.3rem;
}

.to{
    margin-left: 36px;
}

.msg {
    font-size: 2.5rch;
    padding-top: 1.8rem;
}

input {
    padding: 0.75rem;
    /* margin-right: 1rem; */
    font-size: 3vh;
    border-radius: 1vw;
    border: none;
    border: 3vh;
}

.amount p {
    font-size: 1.4rem;
    text-align: left;
    margin-left: 1rem;
    margin: 0 1.5rem 0.60rem 0;
}

.amount {
    margin: 0 1.5rem 1rem 0;
    /* margin-left: 1rem; */
}